global
    log stdout format raw local0
    maxconn 256
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option httplog
    option dontlognull
    option redispatch
    retries 3

listen stats
    bind *:8505
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_front
    bind *:80
    default_backend spring_back

    # Добавляем заголовок для отслеживания
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

resolvers consul
    nameserver consul consul:8600
    resolve_retries 3
    timeout resolve 5s
    timeout retry   1s

backend spring_back
    balance roundrobin
    option httpchk GET /actuator/health
    server-template field-play-backend 3 _field-play-backend._tcp.service.consul resolvers consul check inter 2000 rise 2 fall 3
    cookie SERVERID insert indirect nocache
