.user-feedback-block {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.user-feedback-info-container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 300;
    gap: 5px;
}

.user-feedback-date {
    margin-left: 10px;
}

.user-feedback-message {
    font-size: 14px;
}